.login-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}

.login-button > *{
  cursor: pointer;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.nav-section img{
  width: 100px;
  cursor: pointer;
  margin-bottom: 2em;
}

.menu-list{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.menu-list li{
  padding: 10px;
  cursor: pointer;
}

.menu-list li:hover{
  text-decoration: underline;
}

.menu-area{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: absolute;
  right: 40px;
  padding: 3px;
  border-bottom: 1px solid black;
}

.search-box input{
  max-width: 150px;
  border: none;
  font-size: 1em;
  margin-left: 5px;
}

.search-box input:focus{
  outline: none;
}

.item-card{
  padding: 0 0;
  margin-bottom: 1.5em;
}

.item-card:hover{
  transform: scale(1.05);
}

.item-card img{
  width: 100%;
}

.choice-area{
  font-size: smaller;
  height: 10px;
  display: block;
  margin-bottom: 10px;
}

.new-area{
  font-size: smaller;
  height: 10px;
  display: block;
}

.product-img{
  display: flex;
  justify-content: flex-end;
}

.product-img img{
  width: 100%;
}

.product-title{
  font-size: larger;
  margin-bottom: .5em;
}

.product-price{
  font-size: larger;
  font-weight: 500;
  margin-bottom: .5em;
}

#dropdown-basic-button{
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-top: .5em;
  margin-bottom: .5em;
}

#dropdown-basic-button:hover{
  background-color: black;
  color: white;
  border: 1px solid black;
}

#purchase-btn{
  width: 100%;
}

.hide{
  visibility: hidden
}

@media screen and (max-width: 1008px) {
  .hide {
    visibility: visible;
  }
  .menu-area {
    display: none;
  }
  .search-box{
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .product-img{
    justify-content: center;
  }
}

.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:2
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
} 

.nav-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.nav-header * {
  margin-right: 10px;
  margin-top: 10px;
}

.burger-menu{
  margin-left: 50px;
}

Form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

Form > *{
  width: 60%;
}

.search-box-side{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 3px;
}

.search-box-side input{
  background-color: white;
  padding-left: 10px;
  border-radius: 30px;
  max-width: 150px;
  border: none;
  font-size: 1em;
  margin-left: 5px;
}

.search-box-side input:focus{
  outline: none;
}